* {
  box-sizing: border-box;
  margin: 0;
  color: #fff;
}

:root {
  --c-background: #2C2F33;
  --c-card-background: #19191C;
  --c-button: #028600;

  --small-size: .3em;
  --medium-size: .8em;
  --large-size: 1.7em;
}

body {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: var(--large-size) var(--medium-size);
  background-color: var(--c-background);
}

header {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 1.5em;
  font-weight: 700;
}

h2 {
  font-size: 1.3em;
  font-weight: 400;
}

h3 {
  font-size: .9em;
  font-weight: 300;
}

p {
  font-size: 1.1em;
  font-weight: 400;
  letter-spacing: -0.03em;
}

header .profile-image {
  position: relative;
}

header .profile-image img {
  height: 3.5em;
  border-radius: 50%;
}

header .profile-image .emoji {
  position: absolute;
  bottom: -5%;
  left: -75%;
  font-size: 3em;
  rotate: -5deg;
  transform-origin: bottom;
  animation: 1.5s wave infinite alternate-reverse;
}

.card {
  position: relative;
  height: 42em;
  width: 24em;
}

#personal-card {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: var(--large-size);
  width: 100%;
  height: 100%;
  padding: var(--large-size);
  background-color: var(--c-card-background);
  border-radius: 22px;
  transform: translateX(0) translateY(0);
  transition: .3s;
}

#personal-card:hover {
  transform: translateX(.65em) translateY(.65em);
  transition: .1s;
}

#backdrop-card {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #028600;
  border-radius: 22px;
  z-index: -1;
}

main {
  display: flex;
  flex-direction: column;
  gap: var(--medium-size);
}

main section {
  display: flex;
  flex-direction: column;
  gap: var(--small-size);
}

main .block {
  display: flex;
  align-items: center;
  gap: var(--medium-size);
  background-color: var(--c-background);
  padding: var(--medium-size);
  border-radius: 8px;
}

main #github img {
  height: 2em;
  border-radius: 50%;
}

main #github a {
  text-decoration: none;
  padding: var(--small-size) var(--large-size);
  margin-left: auto;
  border-radius: var(--large-size);
  background-color: var(--c-button);
}

footer {
  display: flex;
  justify-content: space-between;
  height: min-content;
  margin-top: auto;
}

footer img {
  height: 100%;
}

footer .links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--medium-size);
  align-items: end;
}

footer .links>* {
  width: fit-content;
}

@keyframes wave {
  from {
    transform: rotate(-6deg);
  }
  to {
    transform: rotate(18deg);
  }
}